* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
  background-color: #e28743;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.container {
  width: 80vw;
  border: 4px solid white;
  border-radius: 14px;
  height: 80vh;
  margin: 0 auto;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  position: absolute;
  top: 20vh;
  font-size: 30px;
}

.content {
  min-width: 60%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#text-input {
  min-width: 30%;
  min-height: 10%;
  font-size: 20px;
  outline-style: none;
  border: none;
  text-align: center;
}

#check-btn {
  width: 20%;
  min-height: 10%;
  margin: 30px;
  font-size: 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: width 0.5s ease-in-out;
}

#check-btn:hover {
  width: 25%;
  background-color: #69fb61;
}

#what-btn {
  position: absolute;
  bottom: 20vh;
  left: 20vw;
  padding: 20px;
  font-size: 20px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
